#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#idea specific
.idea/
*.iml

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

out.png
